/**
 * Trainline Theme for reveal.js.
 * Author: Paul Bonaud
 */
@import url(font.css);
@import url(emoji.css);

html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body.reveal-viewport {
  background-color: rgba(33,49,77,1); }

.reveal {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #fff; }

span {
  font-weight: 300;
}

::selection {
  color: #fff;
  background: #d33682;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #d33682;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal section.dark-title h1 {
  color: black; }

.reveal section.transparent-title h1,
.reveal section.transparent-title h2,
.reveal section.transparent-title h3 {
  display: none;
  opacity: 0; }

.reveal section.background-title h1,
.reveal section.background-title h2,
.reveal section.background-title h3 {
  text-shadow: 2px 2px 5px black; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: rgba(255,255,255,.86);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2em;
  font-weight: 300; }
.reveal h2 {
  font-size: 1.88em; }

.reveal h3 {
  text-transform: none;
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h5 {
  text-transform: none; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style:none; }

.reveal ul li:before {
  content: "→  ";
  list-style-type: disk; }

.reveal ul ul li:before {
  content: "·  ";
  list-style-type: disk; }

.reveal ul ul {
  list-style-type: none; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); */
  box-shadow: none; }

.reveal code {
  background: rgba(255, 255, 255, 0.1);
  font-family: monospace; }

.reveal pre code {
  display: block;
  /* padding: 5px; */
  overflow: auto;
  max-height: 500px;
  background: rgba(255, 255, 255, .08);
  word-wrap: normal; }

.reveal pre code.lang-none {
  opacity: 0.3; }

.reveal pre code.lang-transparent {
  opacity: 0; }

.reveal table {
    color: white;
    margin: auto;
    font-size: 0.6em;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table tbody > tr:hover {
  background: rgba(73,89,117,0.2); }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  font-size: 0.6em;
  vertical-align: middle;
}

.reveal .left {
  float: left; }

.reveal .right {
  float: right; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #268bd2;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #78b9e6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a6091; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none;
  background: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #268bd2; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #268bd2; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #268bd2; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #268bd2; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #78b9e6; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #78b9e6; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #78b9e6; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #78b9e6; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #01aa91;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
