html {
    background-color: #ECECEC;
}

.present h4 {
    font-size: 1.3em;
    font-weight: bolder;
}

.present p {
    font-size: 0.9em;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    float: right;
}
